.pagination {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
  flex-wrap: wrap;

  .one {
    display: flex;
    gap: 10px;
    align-items: center;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #545f7d;
    }

    select {
      border: none;
      border-radius: 4px;
      background: #213f7d30;
      outline: none;
      color: #213f7d;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      padding: 7px 12px;
    }
  }

  .two {
    display: flex;
    list-style: none;
    align-items: center;

    .button {
      padding: 0;
      button {
        padding: 5px 10px;
        background: #213F7D1A;
        border: none;
        font-weight: 700;
        font-size: 20px;
        color: #213f7d;
        cursor: pointer;
      }

    }
    .button.disabled {
      opacity: 0.4;
    }

    li {
      padding: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #545f7d;
      opacity: 0.6;
    }

    li.active {
      font-weight: 500 !important;
      opacity: 1 !important;
    }
  }
}
