#login-page {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background: var(--white);

  & > section {
    padding: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-page__image {
    display: block;
    width: min(100%, 600px);
    height: auto;
    margin-top: 8.75rem;
  }
}

.login-form-container {
  width: 100%;
  max-width: 650px;

  header {
    font-family: var(--font-avenir-next);
    margin-bottom: 60px;

    h1 {
      font-size: 40px;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 10px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      color: var(--primary-100);
    }
  }
}

@media (max-width: 1024px) {
  #login-page {
    & > section {
      padding: 4rem;
    }
  }
}

@media (max-width: 768px) {
  #login-page {
    grid-template-columns: 1fr;

    & > section:first-child {
      display: none;
    }

    & > section {
      min-height: 100dvh;
      padding: 2rem 1.5rem;
    }
  }

  .login-form-container {
    max-width: 100%;

    header {
      margin-bottom: 40px;

      h1 {
        font-size: 32px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}
