.mobile-sidebar {
  width: 100%;
  background: inherit;
  padding: 39px 0;

  .switch-org {
    display: flex;
    gap: 10px;
    margin-bottom: 52px;
    height: 40px;
    padding-left: 30px;
    align-items: center;
    cursor: pointer;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #213f7d;
    }
  }

  a {
    height: 40px;
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
    padding-left: 30px;

    p {
      font-weight: 400 !important;
      font-size: 16px !important;
      line-height: 19px !important;
      color: #213f7d;
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  a:hover {
    background: #39cdcc60;
    border-left: 5px solid #39cdcc;
  }

  a.active {
    background: #39cdcc60;
    border-left: 5px solid #39cdcc;
  }

  li {
    list-style: none;
  }

  ul {
    margin-top: 41px;

    p {
      color: #545f7d;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 14px;
      padding-left: 30px;
      margin-bottom: 10px;
    }
  }

  .divider {
    width: 100%;
    height: 2px;
    background: #213f7d10;
    margin: 71px 0 20px;
  }

  .logout {
    display: flex;
    padding-left: 30px;
    gap: 10px;

    p {
      font-size: 16px !important;
      font-weight: 400 !important;
      line-height: 19px !important;
      color: #213f7d;
      cursor: pointer;
    }
  }

  .version {
    padding-left: 29px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 40px;
    color: #213f7d;
  }
}
